In [2]:
import pandas as pd
import json

from langchain_text_splitters import RecursiveCharacterTextSplitter
text_splitter = RecursiveCharacterTextSplitter(chunk_size=1000, 
                                                            chunk_overlap=0)

In [ ]:
with open('data/RuBQ_2.0_paragraphs.json', 'r') as f:
    data = json.load(f)

df = pd.DataFrame(data)
print(df.shape)
df.head()

(61958, 2)

,text,hash
0,"YOLOv4 была выпущена в 2020 году, в ней появил...",7e19b6170323dd34eb81715bfa40f66ee6496115058adf...
1,ЦСКА — советский и российский профессиональный...,2c8f09327b979fdcbd9e936cc2f1a9d9fd2b4a42723604...
2,В первом сезоне в составе Континентальной хокк...,7f1221d866e2455c556e4b387ab313e1c9514c2010b42f...
3,В межсезонье 1992 года «армейскую» команду пок...,1c3162ceb0584c9c11a0de9c253f397b725f21d521409d...
4,перехода воспитанников хоккейного клуба в свою...,997de0ddd9e06a5b062e82d76c51b0c51cbf2a6494e7f5...

In [ ]:
def split_to_chunks(df):
        for i, elem in enumerate(df.iloc()):
            text = elem['text']
            uid = elem['uid']

            chunks = text_splitter.split_text(text)
            for j, chunk in enumerate(chunks):
                  
                  df.loc[i+j/10] = [uid+j/10, chunk]


split_to_chunks(df)

             original_uid                                               text
float_index
0.1                     0  ЦСКА — советский и российский профессиональный...
1.1                     1  В первом сезоне в составе Континентальной хокк...
2.1                     2  В межсезонье 1992 года «армейскую» команду пок...
2.2                     2  перехода воспитанников хоккейного клуба в свою...
3.1                     3  Однако ни Тихонов, ни Гущин, не согласились с ...
...                   ...                                                ...
56947.1             56947  Кузнец Вакула (соч. 14) ― опера Петра Чайковск...
56948.1             56948  Трое приятелей: Джи, Харрис и Джордж, устав от...
56949.1             56949  Корри́да (исп. Corrida) — наиболее распростран...
56950.1             56950  События, которые легли в основу сценария, до и...
56951.1             56951  Сражение является важнейшей частью стратегичес...

[62206 rows x 2 columns]

In [12]:
df.head()

   uid  ru_wiki_pageid                                               text
2    2           58311  В межсезонье 1992 года «армейскую» команду пок...
3    3           58311  Однако ни Тихонов, ни Гущин, не согласились с ...
4    4           58311  ЦСКА Александра Волчкова сезон 1996/97 провел ...
5    5           40178  В сентябре 1992 года ЦСКА стартовал в Лиге чем...
6    6           40178  В ноябре 2003 года вместо Валерия Газзаева у р...

In [11]:
print(f"Всего текстов: {len(df)}")
print(f"Средняя длина текста: {df['text'].str.len().mean():.0f} символов")
print(f"Мин. длина текста: {df['text'].str.len().min():.0f} символов")
print(f"Макс. длина текста: {df['text'].str.len().max():.0f} символов")

Всего текстов: 56950
Средняя длина текста: 449 символов
Мин. длина текста: 1 символов
Макс. длина текста: 11010 символов

In [4]:
with open('logs/data_quality.json', 'r') as f:
    data_quality = json.load(f)

empty_docs = data_quality["empty_docs"]
duplicate_uids = data_quality["duplicate_uids"]
duplicate_texts = data_quality["duplicate_texts"]
short_texts = data_quality["short_texts"]

In [5]:
print(f'Пустых документов: {empty_docs["count"]}')
print(f'Дубликатов по UID: {duplicate_uids["count"]}')
print(f'Дубликатов по хэшу текстов: {duplicate_texts["count"]}')
print(f'Коротких текстов: {short_texts["count"]}')

Пустых документов: 0
Дубликатов по UID: 0
Дубликатов по хэшу текстов: 179
Коротких текстов: 93

In [6]:
with open('data/processed_texts.json', 'r') as f:
    data = json.load(f)

df = pd.DataFrame(data)

print('Размер даатсета после очистки:')
print(df.shape)
df.head()

Размер даатсета после очистки:
(56719, 3)

   uid  ru_wiki_pageid                                               text
0    0           58311  ЦСКА — советский и российский профессиональный...
1    1           58311  В первом сезоне в составе Континентальной хокк...
2    2           58311  В межсезонье 1992 года «армейскую» команду пок...
3    3           58311  Однако ни Тихонов, ни Гущин, не согласились с ...
4    4           58311  ЦСКА Александра Волчкова сезон 1996/97 провел ...